Answer to Q2

In [27]:
a = [x for x in range(2000,3201) if (x%7 == 0) & (x%5!=0)]
print(a)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

Answer to Q3

In [29]:
a = input(" Please Enter Your First Name: ")
print(" Please Enter Last Name '{}' ! " .format(a))
b = input()
print("-"*50)
print("Your name in reverse is:  '{0} {1}'  " .format (a[::-1],b[::-1]))

 Please Enter Your First Name:  john

 Please Enter Last Name 'john' !

 doe

--------------------------------------------------
Your name in reverse is:  'nhoj eod'

Answer to Q4

In [28]:
import math
r=12
vol = (4/3)*(math.pi)*(r**3)
print("volume of spear with radius 12 is : {} " .format(vol))

volume of spear with radius 12 is : 7238.229473870882

Task 2

Asnwer to Q1

In [9]:
nums = input("enter multiple numbers separated by comma")
try:
    n2 = [int(x) for x in (nums.split(','))]
    print (n2)
except ValueError:
    print('Non-numeric data found in the file.')

enter multiple numbers separated by comma 12,43,56,98

[12, 43, 56, 98]

<p1> Asnwer to Q2 <p1>

In [44]:
#Method 1
for i in range(5):
    for j in range(i):
        print ('*', end = ' ' )
    print('')
for i in range(5,0,-1):
    for j in range(i):
        print ('*', end = ' ' )
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [43]:
#Method 2
for i in range(0,5):
    print('*'*i)
for i in range(5,0,-1):
    print('*'*i)

*
**
***
****
*****
****
***
**
*

<p1> Asnwer to Q3 <p1>

In [6]:
rev = input("enter a string to reverse")
print("reversed word is : '{}'" .format(rev[::-1]))

enter a string to reverse AcadGild

reversed word is : 'dliGdacA'

<p1> Asnwer to Q4<p1>

In [58]:
print('''WE,THE PEOPLE OF INDIA,\n       having solemnly resolved to constitute India into a SOVEREIGN, !\n\t     SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC\n\t      and to secure to all its citizens''')

WE,THE PEOPLE OF INDIA,
       having solemnly resolved to constitute India into a SOVEREIGN, !
	     SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
	      and to secure to all its citizens